<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">

    <title>Abyaad, une marque pour vous </title>
</head>

<body>

    <nav>
        <section id="positionNav">
            <figure id="positionNavLogo">
                <img src="../../public/img/logo/abyaad.png" alt="">
            </figure>
            <ul>
                <li>Femme</li>
                <li>Enfants</li>
                <li>Favoris</li>
                <li>Contact</li>
                <section class="iconNav">
                    <li><img src="../../public/img/icon-black/sac-de-courses copie.png" alt=""></li>
                    <li><img src="../../public/img/icon-black/utilisateur copie.png" alt=""></li>
                </section>
            </ul>
        </section>
    </nav>
    <header>
        <section class="backgroundImgHeader">
            <h1>Abyaad</h1>
            <h2>une marque pour vous</h2>
            <div>
                <figure>
                    <img src="" alt="">
                </figure>
            </div>
        </section>
    </header>

</body>

</html>